<div class="register">
  <div class="register-container" ng-show="register.state==0">
    <div class="register-header">
      Hello!
    </div>
    <div class="register-option-list">
      <label>Name</label>
      <input class="register-text">
      <label>Create a Password</label>
      <input type="password" class="register-text">
    </div>
  </div>

  <div class="register-container" ng-show="register.state==1">
    <div class="register-header">
      Contact Information
    </div>
    <div class="register-option-list">
      <label>Email</label>
      <input class="register-text">
      <label>Phone</label>
      <input type="password" class="register-text">
    </div>
  </div>

  <div class="register-container" ng-show="register.state==2">
    <div class="register-header">
      Location & notifications
    </div>
    <div class="register-option-list">
      <div class="toggle-group">
        <label>Share My location</label>
        <label id="switch">
          <input type="checkbox" checked>
          <div class="slider round"></div>
        </label>
        <label>Allow Push Notifications</label>
        <label id="switch">
          <input type="checkbox" checked>
          <div class="slider round"></div>
        </label>
      </div>

    </div>
  </div>

  <div class="register-container" ng-show="register.state==3">
    <div class="register-header">
      Here's where I can help
    </div>
    <div class="register-option-list">
      <div class="checkboxes" class="checkboxes">
        <input class="checkbox" type="checkbox">
        <label>Medical Situations</label>
      </div>
      <div class="checkboxes">
        <input class="checkbox" type="checkbox">
        <label>Mechanical Situations</label>
      </div>
      <div class="checkboxes">
        <input class="checkbox" type="checkbox">
        <label>Personal Safety</label>
      </div>
    </div>
  </div>

  <div class="register-container" ng-show="register.state==4">
    <div class="register-header">
      Hello!
    </div>
    <div class="register-option-list">
      <label>Name</label>
      <input class="register-text">
      <label>Create a Password</label>
      <input type="password" class="register-text">
    </div>
  </div>

  <div class="register-container" ng-show="register.state==5">
    <div class="register-header">
      Hello!
    </div>
    <div class="register-option-list">
      <label>Name</label>
      <input class="register-text">
      <label>Create a Password</label>
      <input type="password" class="register-text">
    </div>
  </div>

  <div class="register-container" ng-show="register.state==6">
    <div class="register-header">
      Hello!
    </div>
    <div class="register-option-list">
      <label>Name</label>
      <input class="register-text">
      <label>Create a Password</label>
      <input type="password" class="register-text">
    </div>
  </div>


  <div class="bottom-buttons">
    <button class="prev-button" ng-click="register.previous()" ng-show="register.state>0">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </button>
    <button class="next-button" ng-click="register.next()" ng-show="register.state<register.total_states">
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </button>
  </div>
</div>